APP_ENV=docker
APP_PORT=8080
HOST_API_PORT=8080

POSTGRES_DB=alszikavaros
POSTGRES_USER=alszikavaros
POSTGRES_PASSWORD=alszikavaros
POSTGRES_PORT=5432

WS_ALLOWED_ORIGINS=*
CORS_ALLOWED_ORIGINS=*
SESSION_SECRET=change-me

DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME_MIN=30
